.container_manage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100px;
  background-image: url(../../public/img/banner.jpg);
  backdrop-filter: blur(2px) brightness(90%);
  z-index: 99999;
}

.back_btn {
  position: absolute;
  left: 30px;
  top: 50%;
  font-size: 50px;
  font-weight: bolder;
  transform: translateY(-50%);
  cursor: pointer;
}

.menu_btn {
  font-size: 50px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #608dfd;
}

.startButton {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.startButton:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.startButton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.startButton:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.labelTopic {
  font-size: '20px';
}

.container_exam {
  margin-top: 10px;
}

.title_exam {
  text-align: center;
}

.slidebar_exam {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.slidebar_items {
  display: flex;
  align-items: center;
}

.slidebar_label {
  font-weight: bold;
  margin-right: 10px;
  color: #3c4fe0;
  max-width: 180px;
}

.slidebar_items p {
  max-width: 150px;
  word-wrap: break-word;
  font-size: 14px;
}

.blue_color {
  color: #3c4fe0;
}

.question_container {
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

.question {
  display: flex;
  color: #000;
  flex-direction: row;
  flex-wrap: nowrap;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to bottom, #c1d5eb, #ffffff);
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.question p {
  font-size: 20px;
}

.question_label {
  color: #3c4fe0;
  margin-right: 10px;
  white-space: nowrap;
  font-weight: bold;
}

.icon_flag {
  margin-right: 10px;
  font-size: 30px;
  color: rgb(86, 16, 16);
  cursor: pointer;
}

.icon_flagoutlined {
  margin-right: 10px;
  font-size: 30px;
  color: gray;
  cursor: pointer;
}

.answers {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  padding-bottom: 20px;
}

.answer_group {
  width: 100%;
}

.answer_row {
  margin-top: 20px;
  background-color: aliceblue;
  border-radius: 20px;
  border: none;
  margin-left: 35px;
  margin-right: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
}

.answer_option {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px;
}

.answer_option input[type="radio"] {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.answer_option input[type="radio"]:checked {
  background-color: #4CAF50;
}

.answer_option input[type="radio"]:hover {
  cursor: pointer;
  opacity: 0.6;
}

.answer_option input[type="radio"]:checked+span {
  font-weight: bold;
  color: #3c4fe0;
}

.answer_option span {
  font-size: 15px;
  margin-top: 3px;
}

.pagenumbers_btn {
  margin: 3px;
  color: #000;
  background-color: #c1d5eb;
  border-color: #3c4fe0;
  cursor: pointer;
}

.pagenumbers_btn:active {
  background-color: #2f89d2;
}

.pagenumbers_btn:hover {
  border: 3px solid #4CAF50;
  scale: 1.05rem;
}

.pagenumbers_btn:focus {
  background-color: #1f30b2;
  color: #ffffff;
}

.focus {
  background-color: #1f30b2;
  color: #ffffff;
}

.done {
  background-color: #05c218;
  color: #e8c516;
  border: none;
}

.marked {
  border: red solid 2px;
}

.header_modal {
  width: 100%;
}

.title_modal {
  text-align: center;
  font-size: 25px;
  color: #0b00d7;
}

.modal_content {
  text-align: center;
}

.btn_modal {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 4%;
}

.btn_modal button {
  padding: 10px 20px;
  font-size: 16px;
  width: 100px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.btn_modal_exit {
  background-color: #333030c9;
  color: #ffffff;
}

.btn_modal_comfirm {
  background-color: #009dffc2;
  color: #ffffff;
}

.btn_modal_exit:hover,
.btn_modal_exit:active {
  background-color: #1c1919f1;
}

.btn_modal_comfirm:hover,
.btn_modal_comfirm:active {
  background-color: #0025cc;
}

.buttonWrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: lightgray;
  border-bottom: 5px solid #99CCCC;
  border-radius: 0 0 10px 10px;
}

.button_done {
  justify-content: space-between;
  display: flex;
  padding-right: 20px;
  padding-bottom: 20px;
}

.btn_switchpage {
  appearance: none;
  margin: 10px;
  background-color: #2ea49a;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.btn_switchpage:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.btn_switchpage:hover {
  background-color: #2c974b;
}

.btn_switchpage:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.btn_switchpage:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.btn_switchpage:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.title_complete {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 20px;
  color: #1f30b2;
}

.container_complete {
  background-color: none;
  border: #1f30b2 solid 2px;
  border-radius: 5px;
  height: auto;
  text-align: center;
  margin: 10px;
}

.content_complete {
  padding: 20px;
  font-size: 20px;
}

.label_complete {
  font-weight: bold;
}

.detail_complete {
  font-weight: bold;
  color: #0fe436;
}

/* question manager */
.sidebar_manage {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #d5dceb;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 16.5%;
  right: 0;
}

.sidebar_visible {
  display: block;
}

.sidebar_hidden {
  display: none;
}

.sidebar_manage a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  margin: 10px;
}

.sidebar_manage a.active {
  background-color: #4aa9ed;
  border-radius: 25px;
  margin: 10px;
  color: white;
}

.sidebar_manage a:hover:not(.active) {
  background-color: #808282d8;
  border-radius: 25px;
  color: white;
  margin: 10px;
}

div.content_manage {
  margin-right: 200px;
  padding: 1px 10px;
  height: 100%;
  margin-top: 10%;
  margin-bottom: 10px;
}

.content_manage h2 {
  text-align: center;
  font-size: 25px;
}

div.content_manage_full {
  padding: 1px 10px;
  height: 100%;
  margin-top: 10%;
}

.content_manage_full h2 {
  text-align: center;
  font-size: 25px;
}

.title_wrapper h2 {
  position: relative;
}

.title_wrapper h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 45%;
  width: 10%;
  height: 4px;
  background: linear-gradient(to right, #0056b3, #00a1d7);
}

@media screen and (max-width: 700px) {
  .sidebar_manage {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 22%;
  }

  .sidebar_manage a {
    float: left;
  }

  div.content_manage {
    margin-left: 0;
    margin-right: 0;
  }

  div.content_manage_full {
    margin-left: 0;
    margin-top: 24%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 400px) {
  .sidebar_manage a {
    text-align: center;
    float: none;
  }
}

.add_subject {
  width: 100%;
  flex-direction: row;
}

.btn_add {
  position: relative;
  background-color: #488eda;
  border: none;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.right {
  float: right;
  right: 20px;
}

.left {
  float: left;
  left: 20px;
}

.btn_add:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  border-radius: 10px;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btn_add:hover {
  scale: 1.05;
}

.btn_add:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

/* Table Styles */

.table_wrapper {
  margin: 10px 20px 20px 10px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl_table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl_table td,
.fl_table th {
  padding: 8px;
}

.fl_table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl_table thead th {
  color: #ffffff;
  background: #4aa9ed;
}


.fl_table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl_table tr:nth-child(even) {
  background: #eae8e8;
}


@media (max-width: 767px) {
  .fl_table {
    display: block;
    width: 100%;
  }

  .table-wrapper:before {
    content: "Scroll Vertical >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }

  .fl_table thead,
  .fl_table tbody,
  .fl_table thead th {
    display: block;
  }

  .fl_table thead th:last-child {
    border-bottom: none;
  }

  .fl_table thead {
    float: left;
  }

  .fl_table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }

  .fl_table td,
  .fl_table th {
    padding: 20px .625em .625em .625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }

  .fl_table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }

  .fl_table tbody tr {
    display: table-cell;
  }

  .fl_table tbody tr:nth-child(odd) {
    background: none;
  }

  .fl_table tr:nth-child(even) {
    background: transparent;
  }

  .fl_table tr td:nth-child(odd) {
    background: #F8F8F8;
    border-right: 1px solid #E6E4E4;
  }

  .fl_table tr td:nth-child(even) {
    border-right: 1px solid #E6E4E4;
  }

  .fl_table tbody td {
    display: block;
    text-align: center;
  }
}

.list_empty {
  text-align: center;
  margin-top: 10%
}

/* Checbox */
.checkbox_expand .switch {
  display: none;
}

.checkbox_expand .switch+label {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #78768d;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox_expand .switch+label::before,
.checkbox_expand .switch+label::after {
  content: '';
  display: block;
}

.checkbox_expand .switch+label::before {
  background-color: #05012c;
  border-radius: 500px;
  height: 15px;
  margin-right: 8px;
  -webkit-transition: background-color 0.125s ease-out;
  transition: background-color 0.125s ease-out;
  width: 25px;
}

.checkbox_expand .switch+label::after {
  background-color: #fff;
  border-radius: 13px;
  box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
  height: 13px;
  left: 1px;
  position: absolute;
  top: 1px;
  -webkit-transition: -webkit-transform 0.125s ease-out;
  transition: -webkit-transform 0.125s ease-out;
  transition: transform 0.125s ease-out;
  transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
  width: 13px;
}

.checkbox_expand .switch+label .switch_x_text {
  display: block;
  margin-right: .3em;
}

.checkbox_expand .switch+label .switch_x_toggletext {
  display: block;
  font-weight: bold;
  height: 15px;
  overflow: hidden;
  position: relative;
  width: 25px;
}

.checkbox_expand .switch+label .switch_x_unchecked,
.checkbox_expand .switch+label .switch_x_checked {
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  transition: transform 0.125s ease-out, opacity 0.125s ease-out;
  transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
}

.checkbox_expand .switch+label .switch_x_unchecked {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.checkbox_expand .switch+label .switch_x_unchecked {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.checkbox_expand .switch+label .switch_x_hiddenlabel {
  position: absolute;
  visibility: hidden;
}

.checkbox_expand .switch:checked+label::before {
  background-color: #00a6ff;
}

.checkbox_expand .switch:checked+label::after {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
}

.checkbox_expand .switch:checked+label .switch_x_unchecked {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.checkbox_expand .switch:checked+label .switch_x_unchecked {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.inputField {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.dropdownSub {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.form_container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 10px;
}

.label_form {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight:  bold;
  color: #00a6ff;

}
.custom_select{
  margin-left: 10px;
}
.custom_select .Select-control {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom_select .Select-placeholder {
  color: #999;
}

.custom_select .Select-value {
  background-color: #f0f0f0;
}

.custom_select .Select-menu {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom_select .Select-option {
  padding: 8px 12px;
}

.custom_select .Select-option:hover {
  background-color: #f0f0f0;
}
.headerModal{
  text-align: center;
  font-weight: bold;
  color: #00a6ff;
}
.modalContent{
  text-align: center;
}
/* exam.module.css */

.examCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  border: lightgray solid 2px;
  background-image: url('https://i.pinimg.com/564x/6f/2f/61/6f2f6184c310ef3081994081a4fe762b.jpg');
}
.examCard:hover {
  scale: 1.05;
}

.examName {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.examTitle {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -2px;
}
.iconInfo {
  font-size: 15px;
  margin-top: -10px;
}

.examTitle:hover .iconInfo {
  opacity: 1; 
}
.examDetails {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.examSubject,
.examQuestionCount {
  margin: 5px 0;
  color: #0b00d7;
  font-weight: 500;
}
