@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #documents,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #exam_online {
    width: 110%;
  }
}
